/* Общие стили */
html, body {
    height: 100%; /* Обеспечиваем, что высота страницы будет 100% */
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Элементы на странице выстраиваются вертикально */
    justify-content: flex-start; /* Элементы выравниваются от верха */
    align-items: center;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.header-container {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

h1 {
    color: #333;
    font-size: 24px;
}

/* Стили для кнопки "Вернуться на главную" */
.back-button {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 4px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.back-button:hover {
    background-color: #45a049;
}

/* Контейнер для формы входа */
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px; /* Добавляем отступ сверху, чтобы форма не прижималась к header */
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.reg-link {
    text-align: center;
    margin: 10px 0;
}

.reg-button {
    font-size: 1em;
    color: #4CAF50;
    text-decoration: none;
    border: 1px solid #4CAF50;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
}

.reg-button:hover {
    background-color: #4CAF50;
    color: white;
}

/* Подвал */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto; /* Этот параметр позволяет "прижать" подвал к низу страницы */
    width: 100%;
}
