body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 10px 0;
    text-align: center;
}

.header-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.back-button {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 4px;
}

.back-button:hover {
    background-color: #45a049;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: #4CAF50;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-size: 1em;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Стили для кнопки "Войти" */
.login-link {
    text-align: center;
    margin: 10px 0;
}

.login-button {
    font-size: 1em;
    color: #4CAF50;
    text-decoration: none;
    border: 1px solid #4CAF50;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
}

.login-button:hover {
    background-color: #4CAF50;
    color: white;
}
